--
-- PostgreSQL database dump
--

\restrict hIcBcnnSKEhRZPQUYwaoTEya7aInGF5qsHU0tscxZXOtlMXNHT35Gsd1IVopRBJ

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: otp_verifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.otp_verifications (
    id integer NOT NULL,
    target character varying(120) NOT NULL,
    otp character varying(6) NOT NULL,
    otp_type character varying(20) NOT NULL,
    verified boolean,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone
);


--
-- Name: otp_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.otp_verifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: otp_verifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.otp_verifications_id_seq OWNED BY public.otp_verifications.id;


--
-- Name: parents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parents (
    id integer NOT NULL,
    phone_no character varying(10) NOT NULL,
    student_college_id character varying(50) NOT NULL,
    created_at timestamp without time zone
);


--
-- Name: parents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.parents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: parents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.parents_id_seq OWNED BY public.parents.id;


--
-- Name: student_registry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.student_registry (
    id integer NOT NULL,
    college_id character varying(50) NOT NULL,
    is_registered boolean
);


--
-- Name: student_registry_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.student_registry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: student_registry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.student_registry_id_seq OWNED BY public.student_registry.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.students (
    id integer NOT NULL,
    college_id character varying(50) NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(120) NOT NULL,
    phone_no character varying(10) NOT NULL,
    password_hash character varying(255) NOT NULL,
    inside_hostel boolean DEFAULT true
);


--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: wardens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wardens (
    id integer NOT NULL,
    email character varying(120) NOT NULL,
    warden_id character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'WARDEN'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: wardens_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.wardens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: wardens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.wardens_id_seq OWNED BY public.wardens.id;


--
-- Name: otp_verifications id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.otp_verifications ALTER COLUMN id SET DEFAULT nextval('public.otp_verifications_id_seq'::regclass);


--
-- Name: parents id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parents ALTER COLUMN id SET DEFAULT nextval('public.parents_id_seq'::regclass);


--
-- Name: student_registry id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_registry ALTER COLUMN id SET DEFAULT nextval('public.student_registry_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: wardens id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wardens ALTER COLUMN id SET DEFAULT nextval('public.wardens_id_seq'::regclass);


--
-- Data for Name: otp_verifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: parents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.parents (id, phone_no, student_college_id, created_at) FROM stdin;
1	8879992463	STU003	2026-05-01 05:26:50.255232
\.


--
-- Data for Name: student_registry; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.student_registry (id, college_id, is_registered) FROM stdin;
1	STU001	t
2	STU002	t
3	STU003	t
4	STU004	f
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: wardens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.wardens (id, email, warden_id, password_hash, role, created_at) FROM stdin;
1	addadsugandha@gmail.com	WAR001	scrypt:32768:8:1$slwzOXRoE6kRwpxw$f9e9a3eba8cc93bc87838db2a57f4e1a01ece5b97057a54e853add67c159ca6ba9cfa0a8000ecccac4609eb8d5b28b320f765cdc757658050abdea10ceb052b7	WARDEN	2026-04-28 09:38:34.319062
\.


--
-- Name: otp_verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.otp_verifications_id_seq', 38, true);


--
-- Name: parents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.parents_id_seq', 1, true);


--
-- Name: student_registry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.student_registry_id_seq', 4, true);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.students_id_seq', 3, true);


--
-- Name: wardens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.wardens_id_seq', 1, true);


--
-- Name: otp_verifications otp_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_pkey PRIMARY KEY (id);


--
-- Name: parents parents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT parents_pkey PRIMARY KEY (id);


--
-- Name: student_registry student_registry_college_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_registry
    ADD CONSTRAINT student_registry_college_id_key UNIQUE (college_id);


--
-- Name: student_registry student_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_registry
    ADD CONSTRAINT student_registry_pkey PRIMARY KEY (id);


--
-- Name: students students_college_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_college_id_key UNIQUE (college_id);


--
-- Name: students students_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_email_key UNIQUE (email);


--
-- Name: students students_phone_no_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_phone_no_key UNIQUE (phone_no);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: wardens wardens_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wardens
    ADD CONSTRAINT wardens_email_key UNIQUE (email);


--
-- Name: wardens wardens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wardens
    ADD CONSTRAINT wardens_pkey PRIMARY KEY (id);


--
-- Name: wardens wardens_warden_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wardens
    ADD CONSTRAINT wardens_warden_id_key UNIQUE (warden_id);


--
-- PostgreSQL database dump complete
--

\unrestrict hIcBcnnSKEhRZPQUYwaoTEya7aInGF5qsHU0tscxZXOtlMXNHT35Gsd1IVopRBJ

